
html, body {
  width: 95%;
  height: 100%;
  margin: auto;
  padding: 10pt;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  box-sizing: border-box;
}

canvas {
  width: 100%;
  max-width: 600px;
}

h1 {
  font-size: 16pt;
  font-weight: normal;
  color: gray;
  margin: 0; 
  text-align: center;
}

h2 {
  font-size: 12pt;
  margin: 0; 
  color: gray;
}

dt {
  margin-left: 10pt;
  margin-right: 10pt;
  color: gray;
  font-size: 12pt;
  border-bottom: 1pt solid gray;
}

dd{
  margin-left: 10pt;
  margin-right: 10pt;
  margin-bottom: 5pt;
}

.game-heading {
  background: darkgray;
  color: white;
  width: 100%;
  padding: 3pt;
  padding-left: 15px;
  border-radius: 3pt;
  font-size: 14pt;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  margin-bottom: 10px;
}

.fancy {
  text-align: center;
  font-size: 18pt;
  font-family: fantasy;
  color: white;
  border-bottom: 1pt solid white;
}

.fancy-sub {
  text-align: center;
  font-size: 9pt;
  color: #ddd;
  position: relative;
  top: -18pt;
}

#blurb {
  width: 700px; 
  margin: auto;
}

#banner {
  width: 300px;
  margin: auto;
  position: relative;
  top: 10px;
  z-index: -10;
}

#banner img {
  width: 100%; 
}

#blurb-body {
  line-height: 16pt;
  font-size: 11pt;
  text-align: justify;
}

#game {
  width: 740px;
  margin: auto;
  text-align: center;
  margin-top: 30pt;
  margin-bottom: 120pt;
}

#board-container {
  width: 300px;
  height: 350px;
  padding: 10px;
  border: 1pt solid lightgray;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

#messages-container {
  width: 400px;
  height: 350px;
  padding: 10px;
  border: 1pt solid lightgray;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  /*margin: 5px;*/
}

#messages {
  text-align: left;
  padding: 10pt;
  width: 100%;
  height: 75%;
  overflow: auto;
  background: black;
  color: white;
  margin: auto;
  font-size: 11pt;
  /*font-family: 'Courier New', Courier, monospace;*/
  border-radius: 10pt;
}

#lines-found-container {
  width: 300px;
  height: 350px;
  padding: 10px;
  border: 1pt solid lightgray;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  margin-top: 5px;
}

#planes-found-container {
  width: 400px;
  height: 350px;
  padding: 10px;
  border: 1pt solid lightgray;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  /*margin: 5px;*/
  margin-top: 5px;
}
